
.avatar_list {
  margin-top: 20px;
  flex-wrap: wrap;
  list-style: none;

  > li {
    margin-bottom: 20px;
    margin-right: 20px;

    .el-radio {
      display: flex;
      align-items: center;
    }

    img {
      width: 70px;
      height: 70px;
      border-radius: 5px;
    }
  }
}

.el-radio__inner {
  border: 1px solid var(--card_bg);
  background-color: var(--ele_bg);
}