
.title {
  margin-bottom: 20px;
}

.dialog_content {
  > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    > label {
      display: block;
      margin-bottom: 5px;
    }
  }


  .drawing_show {
    display: inherit;

    img {
      height: 80px;
      border-radius: 5px;
      margin-right: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.timeline-wrapper {
  width: 100%;
  list-style: none;
}

.cursor {
  cursor: pointer;
}

/* 时间线 */
.timeline-item {
  position: relative;

  .timeline-box {
    text-align: center;
    position: absolute;
    height: 100%;

    .out-circle {
      width: 16px;
      height: 16px;
      background: rgba(14, 116, 218, 0.1);
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
      /*opacity: 0.1;*/
      border-radius: 50%;
      display: flex;
      align-items: center;

      .in-circle {
        width: 8px;
        height: 8px;
        margin: 0 auto;
        background: rgba(14, 116, 218, 1);
        border-radius: 50%;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
        transition: all 0.3s;

        &.super:hover {
          background-color: #dd6161;
        }
      }
    }

    .long-line {
      width: 2px;
      height: calc(100% - 10px);
      background: rgba(14, 116, 218, 1);
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
      opacity: 0.1;
      margin-left: 8px;
    }
  }

  .timeline-content {
    box-sizing: border-box;
    margin-left: 20px;
    padding: 0 0 0 20px;
    text-align: left;
    margin-bottom: 30px;

    .timeline-title {
      font-size: 15px;
      font-weight: 600;
      word-break: break-all;
      margin-bottom: 10px;
      color: var(--font_2);
      /*display: inline;*/
    }

    .timeline-date {
      font-size: 18px;
      color: var(--font_1);
      font-weight: 500;
      margin-bottom: 10px;
      width: 10rem;

    }

    .timeline-desc {
      font-size: 14px;
      color: var(--font_3);
      list-style: circle;
      padding-left: 20px;

      a {
        color: var(--active);
      }
    }

    .peitu {
      margin-top: 10px;

      > div {
        display: flex;
        flex-wrap: wrap;

        img {
          height: 130px;
          margin-right: 20px;
          border-radius: 5px;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
        }
      }
    }
  }

}

