body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--font_1);
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex.center{
    justify-content: center;
}

.flex.item_center{
    align-items: center;
}


