
.main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    > div {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    input {
      width: 300px;
      height: 40px;
      outline: none;
      border: 1px solid var(--bg_darken);
      border-radius: 5px;
      padding-left: 10px;
      color: var(--font_2);
      background-color: var(--ele_bg);
    }

    button {
      width: 100px;
      border-radius: 5px;
      height: 40px;
      background-color: var(--active);
      color: white;
      border: none;
      cursor: pointer;
    }
  }

  .search_criteria {
    margin: 20px 0;
    width: 100%;
    font-size: 13px;

    &::before {
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--bg_darken);
      content: '';
      margin-bottom: 20px;
    }

    &::after {
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--bg_darken);
      content: '';
      margin-top: 20px;
    }

    > ul {
      display: flex;
      list-style: none;
      margin: 10px 0;
      flex-wrap: wrap;

      > li {
        padding: 3px 8px;
        margin-right: 10px;

        &:hover {
          a {
            color: var(--active);
          }
        }

        a {
          color: var(--font_2);
        }
      }

      > li.active {
        background-color: var(--active);
        border-radius: 5px;

        a {
          color: white;
        }
      }
    }
  }

  .search_content {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    > li {
      width: 190px;
      height: 190px;
      border: 1px solid var(--bg_darken);
      border-radius: 5px;
      overflow: hidden;
      margin: 0 30px 30px 0;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-10px);

        .img img {
          transform: scale(1.1);
        }

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      &:nth-child(5n) {
        margin-right: 0;
      }

      .img {
        display: block;
        width: 100%;
        height: 100px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: all 0.3s;
          object-fit: cover;
        }
      }

      .info {
        padding: 8px;
        color: #777;

        .title {
          margin-bottom: 5px;
          height: 43px;
        }

        a {
          color: var(--font_2);
          font-size: 14px;
        }

        .icon {
          font-size: 13px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .no_content {
    width: 100%;
    background: url("/static/my/img/search/no_content.png") no-repeat center center;
    height: 300px;
  }
}

.pager {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;

  > li {
    min-width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--bg_darken);
    transition: all 0.3s;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    a {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      padding: 0 10px;
      color: var(--font_2);
    }

    &:hover {
      background-color: var(--active);

      a {
        color: white;
      }
    }
  }

  > li.active {
    background-color: var(--active);

    a {
      color: white;
    }
  }
}